@{ 
    ViewData["Title"] = "Home";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore</h1>
       
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed tempor and vitality, so that the labor and sorrow,
            some important things to do eiusmod. Over the years, I will come,
            who will nostrud aliquip out of her the advantage of exercise,
            so that stimulus efforts if the school district and longevity.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>
        <div class="row">
            <div class="col-md-4">
                @await Html.PartialAsync("_BookThumbnail", new BookViewModel())
            </div>
            <div class="col-md-4">
                @await Html.PartialAsync("_BookThumbnail", new BookViewModel())
            </div>
            <div class="col-md-4">
                @await Html.PartialAsync("_BookThumbnail", new BookViewModel())
            </div>            
        </div>
    </div>
</div>