@{
    ViewData["Title"] = "All books";
}
@model IEnumerable<BookViewModel>

<div class="container">
    <h1>All books page</h1>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="col-md-4">
                 @await Html.PartialAsync("_BookThumbnail" , book)                
            </div>
        }      
    </div>
</div>
