<footer class="border-top footer text-light bg-dark text-center">
    <div class="content">
        Copyright &copy; Book Store @DateTime.Now.Year
        <email email="maxim.lushh@mail.ru"></email>
    </div>
</footer>