@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<header>
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="container">
            <a class="navbar-brand mr-0 mr-md-2" asp-controller="Home" asp-action="Index">
                <img src="~/Images/logo.jpg" asp-append-version="true" width="30" height="30">
                <span class="text-dark">@Configuration["AppName"]</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <partial name="_LoginInfo" />
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="AboutUs">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Book" asp-action="GetAllBooks">All books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Book" asp-action="CreateBook">Create book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    @*<div class="alert alert-info" role="alert">
        text
    </div>*@

</header>
